body {
    background-color: rgb(35, 36, 36);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 150px;

}

body h1 {
    padding-left: 20px;
    font-size: xx-large;

}

body h2 {
    padding-left: 30px;
    font-size: x-large;

}

body h3 {
    padding-left: 75px;
    font-size: larger;

}

body h4 {
    padding-left: 95px;
    font-size: large;
    color: rgb(242, 246, 247);
    font-size: large;

}

body p {
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 400px;
    margin-block: 5px 5px;
    writing-mode: horizontal-tb;
    font-size: medium;

}

ul {
    list-style-type: none;
    /* list-style-image: url("/graphics/hr_gear_32.png"); */
    margin-left: 50px;
    height: 10px;
    
}
.main {
    text-align: center;

}

.sub_pages {
    text-align: left;

}

.link {
    color: rgba(203, 108, 230, 255);
    font-size: large;
    padding: 20px;

}

.text {
    color: rgb(242, 246, 247);
    font-size: x-large;

}

.quote {
    color: rgb(242, 246, 247);
    font-size: small;

}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnav a {
    float: left;
    color: rgb(242, 246, 247);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* padding: 7px 8px;
     text-decoration: none;
     font-size: 25px; */

}

.topnav a:hover {
    background-color: rgb(242, 246, 247);
    color: black;

}

.topnav a.active {
    background-color: rgba(203, 108, 230, 255);
    color: rgb(242, 246, 247);

}